{{yield}}

<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <span class="country">{{@country}}</span>
                </div>
                <div class="col-sm">
                    <p class="amount">{{@amount}}</p>
                </div>
                <div class="col-sm">
                    {{svg-jar "down" class="arrow-red"}}
                </div>
            </div>
        </div>
    </div>
</div>